
  <head>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

    
<div class='container welcome-container'>
    <div class='container'> 
        <h1>Bienvenido a SiscoBank</h1>
        <%=link_to 'Ingresar a la plataforma', '/users' %>
    </div>    
</div>

