@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root{
    --color1:#000004;
    --color2:#1f264b;
    --color3:#4d569c;
    --color4:#868df9;
    --color5:#c9caff;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    align-items: center;
    background-color: var(--color3);
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}

.detail-container{
    max-width: 50vw;
    text-align: center;
    border: 2px solid var(--color1);
    border-radius: 20px;
    padding: 15px;
}


.buttons{
    margin-top: 15px;
    text-align: center;
    border: 20px;
}

a{
    color: white;
}

a:hover{
    color: var(--color1);
}


